torch>=2.0
torchinfo
torchvision
deepspeed
einops
h5py
huggingface_hub
numpy
open_flamingo
openai
opencv_python
opencv_python_headless
packaging
Pillow
PyYAML
PyYAML
Requests
scikit_learn
scipy
tensorboard
timm
tqdm
typing_extensions
xformers
yacs